tests/results/T1_sg.png
tests/results/T1_th.png
tests/results/T2_sg.png
tests/results/T2_th.png
tests/results/T3_sg.png
tests/results/T3_th.png
tests/results/T4_aprox.png
tests/results/T5_aprox.png
tests/results/T6_aprox.png
tests/results/T7_sg.png
tests/results/T7_th.png
tests/results/T8_aprox.png
tests/testfiles/pat.txt
tests/testfiles/test0.txt
tests/testfiles/test1.txt
tests/testfiles/test2.txt
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
bin/ipmt
tests/testfiles/test0.idx
tests/testfiles/test1.idx
tests/testfiles/test2.idx
bin/test.out
tests/testfiles/dna50MB.txt
tests/testfiles/english50MB.txt
tests/testfiles/patterns.txt
tests/testfiles/teste.myz
tests/testfiles/teste.txt
tests/makefileOld
tests/testfiles/dna/dna4KB.idx
tests/testfiles/dna/dna4KB.txt
tests/testfiles/dna/dna45KB.idx
tests/testfiles/dna/dna45KB.txt
tests/testfiles/dna/dna450KB.idx
tests/testfiles/dna/dna450KB.txt
tests/testfiles/dna/dna4500KB.idx
tests/testfiles/dna/dna4500KB.txt
tests/testfiles/dna/dna45000KB.idx
tests/testfiles/dna/dna45000KB.txt
tests/testfiles/english/english4KB.txt
tests/testfiles/english/english45KB.txt
tests/testfiles/english/english450KB.txt
tests/testfiles/english/english4500KB.txt
tests/testfiles/english/english45000KB.txt
tests/testfiles/split
tests/testfiles/english.txt
tests/testfiles/split_txt.cpp
tests/testfiles/dna.txt
bin/search.out
bin/index.out
tests/testfiles/testezip.myz
tests/testfiles/testezip.txt
tests/testfiles/dna/patternsDNA.txt
tests/testfiles/english/patternsENG.txt
tests/files/dna/dna4KB.txt
tests/files/dna/dna45KB.txt
tests/files/dna/dna450KB.txt
tests/files/dna/dna4500KB.txt
tests/files/dna/dna45000KB.txt
tests/files/dna/patternsDNA.txt
tests/files/english/english4KB.txt
tests/files/english/english45KB.txt
tests/files/english/english450KB.txt
tests/files/english/english4500KB.txt
tests/files/english/english45000KB.txt
tests/files/english/patternsENG.txt
tests/files/english/teste.myz
tests/files/english/teste.txt
tests/files/utils/dna.txt
tests/files/utils/english.txt
tests/files/utils/generate_patt.py
tests/files/utils/split
tests/files/utils/split_txt.cpp
tests/files/utils/teste.txt
tests/files/utils/testezip.myz
tests/files/utils/testezip.txt
tests/T1/__pycache__/average_time.cpython-39.pyc
tests/files/dna/idx_notext/dna4KB.idx
tests/files/dna/idx_notext/dna45KB.idx
tests/files/dna/idx_notext/dna450KB.idx
tests/files/dna/idx_notext/dna4500KB.idx
tests/files/dna/idx_notext/dna45000KB.idx
tests/files/dna/idx_text/dna4KB.idx
tests/files/dna/idx_text/dna45KB.idx
tests/files/dna/idx_text/dna450KB.idx
tests/files/dna/idx_text/dna4500KB.idx
tests/files/dna/idx_text/dna45000KB.idx
tests/files/dna/zips/dna4KB.myz
tests/files/dna/zips/dna4KB.txt
tests/files/dna/zips/dna4KB.txt.gz
tests/files/dna/zips/dna45KB.myz
tests/files/dna/zips/dna45KB.txt
tests/files/dna/zips/dna45KB.txt.gz
tests/files/dna/zips/dna450KB.myz
tests/files/dna/zips/dna450KB.txt
tests/files/dna/zips/dna450KB.txt.gz
tests/files/dna/zips/dna4500KB.myz
tests/files/dna/zips/dna4500KB.txt
tests/files/dna/zips/dna4500KB.txt.gz
tests/files/english/idx_notext/english4KB.idx
tests/files/english/idx_notext/english45KB.idx
tests/files/english/idx_notext/english450KB.idx
tests/files/english/idx_notext/english4500KB.idx
tests/files/english/idx_notext/english45000KB.idx
tests/files/english/idx_text/english4KB.idx
tests/files/english/idx_text/english45KB.idx
tests/files/english/idx_text/english450KB.idx
tests/files/english/idx_text/english4500KB.idx
tests/files/english/idx_text/english45000KB.idx
tests/files/english/zips/english4KB.myz
tests/files/english/zips/english4KB.txt
tests/files/english/zips/english4KB.txt.gz
tests/files/english/zips/english45KB.myz
tests/files/english/zips/english45KB.txt
tests/files/english/zips/english45KB.txt.gz
tests/files/english/zips/english450KB.myz
tests/files/english/zips/english450KB.txt
tests/files/english/zips/english450KB.txt.gz
tests/files/english/zips/english4500KB.myz
tests/files/english/zips/english4500KB.txt
tests/files/english/zips/english4500KB.txt.gz
tests/files/tests/dna4KB.myz
tests/files/tests/dna4KB.txt
tests/files/tests/dna450KB.myz
tests/files/tests/dna450KB.txt
tests/files/tests/paguso.py
tests/files/tests/teste.txt
tests/T1/T1.py
tests/T1/results/plot_sizes.py
tests/T1/results/results_to_plot.py
tests/T1/results/T1_1.png
tests/T1/results/T1.png
tests/T1/results/dna/T1_averagetime__save__skew_dna4KB.txt
tests/T1/results/dna/T1_averagetime__save__skew_dna45KB.txt
tests/T1/results/dna/T1_averagetime__save__skew_dna450KB.txt
tests/T1/results/dna/T1_averagetime__save__skew_dna4500KB.txt
tests/T1/results/dna/T1_averagetime__save__sort_dna4KB.txt
tests/T1/results/dna/T1_averagetime__save__sort_dna45KB.txt
tests/T1/results/dna/T1_averagetime__save__sort_dna450KB.txt
tests/T1/results/dna/T1_averagetime__save__sort_dna4500KB.txt
tests/T1/results/dna/T1_averagetime__skew_dna4KB.txt
tests/T1/results/dna/T1_averagetime__skew_dna45KB.txt
tests/T1/results/dna/T1_averagetime__skew_dna450KB.txt
tests/T1/results/dna/T1_averagetime__skew_dna4500KB.txt
tests/T1/results/dna/T1_averagetime__sort_dna4KB.txt
tests/T1/results/dna/T1_averagetime__sort_dna45KB.txt
tests/T1/results/dna/T1_averagetime__sort_dna450KB.txt
tests/T1/results/dna/T1_averagetime__sort_dna4500KB.txt
tests/T1/results/english/T1_averagetime__save__skew_english4KB.txt
tests/T1/results/english/T1_averagetime__save__skew_english45KB.txt
tests/T1/results/english/T1_averagetime__save__skew_english450KB.txt
tests/T1/results/english/T1_averagetime__save__skew_english4500KB.txt
tests/T1/results/english/T1_averagetime__save__sort_english4KB.txt
tests/T1/results/english/T1_averagetime__save__sort_english45KB.txt
tests/T1/results/english/T1_averagetime__save__sort_english450KB.txt
tests/T1/results/english/T1_averagetime__save__sort_english4500KB.txt
tests/T1/results/english/T1_averagetime__skew_english4KB.txt
tests/T1/results/english/T1_averagetime__skew_english45KB.txt
tests/T1/results/english/T1_averagetime__skew_english450KB.txt
tests/T1/results/english/T1_averagetime__skew_english4500KB.txt
tests/T1/results/english/T1_averagetime__sort_english4KB.txt
tests/T1/results/english/T1_averagetime__sort_english45KB.txt
tests/T1/results/english/T1_averagetime__sort_english450KB.txt
tests/T1/results/english/T1_averagetime__sort_english4500KB.txt
tests/T2/average_time.py
tests/T2/results_to_plot.py
tests/T2/T2.py
tests/T2/__pycache__/results_to_plot.cpython-39.pyc
tests/T2/results/dna/T1_averagetime_no_txt_dna4KB.txt
tests/T2/results/dna/T1_averagetime_no_txt_dna45KB.txt
tests/T2/results/dna/T1_averagetime_no_txt_dna450KB.txt
tests/T2/results/dna/T1_averagetime_no_txt_dna4500KB.txt
tests/T2/results/dna/T1_averagetime_no_txt_dna45000KB.txt
tests/T2/results/dna/T1_averagetime_txt_dna4KB.txt
tests/T2/results/dna/T1_averagetime_txt_dna45KB.txt
tests/T2/results/dna/T1_averagetime_txt_dna450KB.txt
tests/T2/results/dna/T1_averagetime_txt_dna4500KB.txt
tests/T2/results/dna/T1_averagetime_txt_dna45000KB.txt
tests/T2/results/english/T1_averagetime_no_txt_english4KB.txt
tests/T2/results/english/T1_averagetime_no_txt_english45KB.txt
tests/T2/results/english/T1_averagetime_no_txt_english450KB.txt
tests/T2/results/english/T1_averagetime_no_txt_english4500KB.txt
tests/T2/results/english/T1_averagetime_no_txt_english45000KB.txt
tests/T2/results/english/T1_averagetime_txt_english4KB.txt
tests/T2/results/english/T1_averagetime_txt_english45KB.txt
tests/T2/results/english/T1_averagetime_txt_english450KB.txt
tests/T2/results/english/T1_averagetime_txt_english4500KB.txt
tests/T2/results/english/T1_averagetime_txt_english45000KB.txt
tests/T3/average_time.py
tests/T3/T3.py
tests/T3/results/results_to_plot.py
tests/T3/results/T3.png
tests/T3/results/dna/T1_averagetime__dna4KB.txt
tests/T3/results/dna/T1_averagetime__dna45KB.txt
tests/T3/results/dna/T1_averagetime__dna450KB.txt
tests/T3/results/dna/T1_averagetime__dna4500KB.txt
tests/T3/results/dna/T1_averagetime__dna45000KB.txt
tests/T3/results/dna/T2_grep_averagetime__dna4KB.txt
tests/T3/results/dna/T2_grep_averagetime__dna45KB.txt
tests/T3/results/dna/T2_grep_averagetime__dna450KB.txt
tests/T3/results/dna/T2_grep_averagetime__dna4500KB.txt
tests/T3/results/dna/T2_grep_averagetime__dna45000KB.txt
tests/T3/results/english/T1_averagetime__english4KB.txt
tests/T3/results/english/T1_averagetime__english45KB.txt
tests/T3/results/english/T1_averagetime__english450KB.txt
tests/T3/results/english/T1_averagetime__english4500KB.txt
tests/T3/results/english/T1_averagetime__english45000KB.txt
tests/T3/results/english/T2_grep_averagetime__english4KB.txt
tests/T3/results/english/T2_grep_averagetime__english45KB.txt
tests/T3/results/english/T2_grep_averagetime__english450KB.txt
tests/T3/results/english/T2_grep_averagetime__english4500KB.txt
tests/T3/results/english/T2_grep_averagetime__english45000KB.txt
tests/T4/average_time.py
tests/T4/T4.py
tests/T4/results/results_to_plot.py
tests/T4/results/T4.png
tests/T4/results/dna/T1_averagetime__dna4KB.txt
tests/T4/results/dna/T1_averagetime__dna45KB.txt
tests/T4/results/dna/T1_averagetime__dna450KB.txt
tests/T4/results/dna/T1_averagetime__dna4500KB.txt
tests/T4/results/dna/T1_averagetime__dna45000KB.txt
tests/T4/results/dna/T2_grep_averagetime__dna4KB.txt
tests/T4/results/dna/T2_grep_averagetime__dna45KB.txt
tests/T4/results/dna/T2_grep_averagetime__dna450KB.txt
tests/T4/results/dna/T2_grep_averagetime__dna4500KB.txt
tests/T4/results/dna/T2_grep_averagetime__dna45000KB.txt
tests/T4/results/english/T1_averagetime__english4KB.txt
tests/T4/results/english/T1_averagetime__english45KB.txt
tests/T4/results/english/T1_averagetime__english450KB.txt
tests/T4/results/english/T1_averagetime__english4500KB.txt
tests/T4/results/english/T1_averagetime__english45000KB.txt
tests/T4/results/english/T2_grep_averagetime__english4KB.txt
tests/T4/results/english/T2_grep_averagetime__english45KB.txt
tests/T4/results/english/T2_grep_averagetime__english450KB.txt
tests/T4/results/english/T2_grep_averagetime__english4500KB.txt
tests/T4/results/english/T2_grep_averagetime__english45000KB.txt
tests/T5/T5.py
tests/T5/results/results_to_plot.py
tests/T5/results/T5.png
tests/T5/results/dna/T1_averagetime__dna4KB.txt
tests/T5/results/dna/T1_averagetime__dna45KB.txt
tests/T5/results/dna/T1_averagetime__dna450KB.txt
tests/T5/results/dna/T1_averagetime__dna4500KB.txt
tests/T5/results/dna/T1_averagetime__dna45000KB.txt
tests/T5/results/dna/T2_grep_averagetime__dna4KB.txt
tests/T5/results/dna/T2_grep_averagetime__dna45KB.txt
tests/T5/results/dna/T2_grep_averagetime__dna450KB.txt
tests/T5/results/dna/T2_grep_averagetime__dna4500KB.txt
tests/T5/results/dna/T2_grep_averagetime__dna45000KB.txt
tests/T5/results/english/T1_averagetime__english4KB.txt
tests/T5/results/english/T1_averagetime__english45KB.txt
tests/T5/results/english/T1_averagetime__english450KB.txt
tests/T5/results/english/T1_averagetime__english4500KB.txt
tests/T5/results/english/T1_averagetime__english45000KB.txt
tests/T5/results/english/T2_grep_averagetime__english4KB.txt
tests/T5/results/english/T2_grep_averagetime__english45KB.txt
tests/T5/results/english/T2_grep_averagetime__english450KB.txt
tests/T5/results/english/T2_grep_averagetime__english4500KB.txt
tests/T5/results/english/T2_grep_averagetime__english45000KB.txt
tests/T6/T6.py
tests/T6/results/results_to_plot.py
tests/T6/results/dna/T1_averagetime__dna4KB.txt
tests/T6/results/dna/T1_averagetime__dna45KB.txt
tests/T6/results/dna/T1_averagetime__dna450KB.txt
tests/T6/results/dna/T1_averagetime__dna4500KB.txt
tests/T6/results/dna/T2_gzip_averagetime__dna4KB.txt
tests/T6/results/dna/T2_gzip_averagetime__dna45KB.txt
tests/T6/results/dna/T2_gzip_averagetime__dna450KB.txt
tests/T6/results/dna/T2_gzip_averagetime__dna4500KB.txt
tests/T6/results/english/T1_averagetime__english4KB.txt
tests/T6/results/english/T1_averagetime__english45KB.txt
tests/T6/results/english/T1_averagetime__english450KB.txt
tests/T6/results/english/T1_averagetime__english4500KB.txt
tests/T6/results/english/T2_gzip_averagetime__english4KB.txt
tests/T6/results/english/T2_gzip_averagetime__english45KB.txt
tests/T6/results/english/T2_gzip_averagetime__english450KB.txt
tests/T6/results/english/T2_gzip_averagetime__english4500KB.txt
tests/T7/T7.py
tests/T7/results/results_to_plot.py
tests/T7/results/dna/T1_averagetime__dna4KB.txt
tests/T7/results/dna/T1_averagetime__dna45KB.txt
tests/T7/results/dna/T1_averagetime__dna450KB.txt
tests/T7/results/dna/T1_averagetime__dna4500KB.txt
tests/T7/results/dna/T2_gzip_averagetime__dna4KB.txt
tests/T7/results/dna/T2_gzip_averagetime__dna45KB.txt
tests/T7/results/dna/T2_gzip_averagetime__dna450KB.txt
tests/T7/results/dna/T2_gzip_averagetime__dna4500KB.txt
tests/T7/results/english/T1_averagetime__english4KB.txt
tests/T7/results/english/T1_averagetime__english45KB.txt
tests/T7/results/english/T1_averagetime__english450KB.txt
tests/T7/results/english/T1_averagetime__english4500KB.txt
tests/T7/results/english/T2_gzip_averagetime__english4KB.txt
tests/T7/results/english/T2_gzip_averagetime__english45KB.txt
tests/T7/results/english/T2_gzip_averagetime__english450KB.txt
tests/T7/results/english/T2_gzip_averagetime__english4500KB.txt
tests/T1/T1.py
tests/T2/average_time.py
tests/T2/T2.py
tests/T3/average_time.py
tests/T3/T3.py
tests/T4/average_time.py
tests/T4/T4.py
tests/makefile
