tests/results/T1_sg.png
tests/results/T1_th.png
tests/results/T2_sg.png
tests/results/T2_th.png
tests/results/T3_sg.png
tests/results/T3_th.png
tests/results/T4_aprox.png
tests/results/T5_aprox.png
tests/results/T6_aprox.png
tests/results/T7_sg.png
tests/results/T7_th.png
tests/results/T8_aprox.png
tests/testfiles/pat.txt
tests/testfiles/test0.txt
tests/testfiles/test1.txt
tests/testfiles/test2.txt
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
bin/ipmt
tests/testfiles/test0.idx
tests/testfiles/test1.idx
tests/testfiles/test2.idx
bin/test.out
tests/testfiles/dna50MB.txt
tests/testfiles/english50MB.txt
tests/testfiles/patterns.txt
tests/testfiles/teste.myz
tests/testfiles/teste.txt
tests/makefileOld